{% extends 'base.html' %}
{% load review %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block extra_class %} header{% endblock %}
{% block content %}
    <div class="card my-3 user_card">
        <div class="row no-gutters">
            <div class="card-img col-md-2" data-toggle="tooltip" data-placement="top"
                 title='Профиль - {{ user_obj.username }}'>
                {% if user_obj.profile.photo %}
                    <img src="{{ user_obj.profile.photo.url }}" class="card-img"
                         alt="Author photo">
                {% else %}
                    <img src="{% static 'No_person-1.jpg' %}" class="card-img" alt="No photo">
                {% endif %}
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <p>Имя: <b>{{ user_obj.first_name }}</b></p>
                    <p>Фамилия: {{ user_obj.last_name }}</p>
                    <p>Страна: {{ user_obj.profile.country }}</p>
                    <p>Город: {{ user_obj.profile.city }}</p>
                    <p>Почта: {{ user_obj.email }}</p>
                    <p>Телефон: {{ user_obj.profile.mobile_phone }}</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <p>Тип: {{ user_obj.profile.type }}</p>
                    <p>Уведомления: {{ user_obj.profile.notification }}</p>
                    {% if user_obj.profile.type == 'driver' %}
                        <p>Статус: {{ user_obj.profile.status }}</p>
                        <p>Авто: {{ user_obj.profile.car }}</p>
                        <p>Модель авто: {{ user_obj.profile.car_model }}</p>
                        <p>Номер авто: {{ user_obj.profile.car_number }}</p>
                        <p>Кол-во сидений: {{ user_obj.profile.car_seats }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        {% if user_obj == request.user %}
            <a href="{% url 'accounts:user_update' user_obj.pk %}" class="user_links">Изменить</a>
            <a href="{% url 'accounts:user_delete' user_obj.pk %}" class="user_links">Удалить</a>
            <a href="{% url 'accounts:user_change_password' user_obj.pk %}" class="user_links">Изменить пароль</a>
        {% endif %}
    </div>
    {% if user_obj == user %}
        <h4 class="mt-5">История поездок</h4>
        {% for announcement in history %}
            <div class="card my-2">
                <div class="row no-gutters">
                    <div class="card-img col-md-2" data-toggle="tooltip" data-placement="top"
                             title='Профиль - {{ announcement.author }}'>
                        <a href="{% url 'accounts:user_detail' announcement.author.pk %}">
                            {% if announcement.author.profile.photo %}
                                <img src="{{ announcement.author.profile.photo.url }}" class="card-img"
                                     alt="Author photo">
                            {% else %}
                                <img src="{% static 'No_person-1.jpg' %}" class="card-img" alt="No photo">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-md-6" data-toggle="tooltip" data-placement="top"
                             title='Подробнее об объявлении'>
                            <a href="{% url 'webapp:announce_detail' announcement.pk %}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ announcement.author.first_name }}</h5>
                                    <p class="card-text">
                                        <b>Направление</b> {{ announcement.get_place_from_display }}-{{ announcement.get_place_to_display }}
                                    </p>
                                    {% if announcement.description %}<p class="card-text">Описание: {{ announcement.description }}</p>{% endif %}
                                    <p class="card-text">
                                        <b>Время:</b> {{ announcement.departure_time|date:'d-m-y   - H:m' }}</p>
                                    <p class="card-text"><b>Мест:</b> {{ announcement.seats }}{% if announcement.luggage %}<b class="ml-3">Багаж:</b>{{ announcement.luggage }}{% endif %}</p>
                                    {% if announcement.price %}
                                        <p class="card-text">{{ announcement.price }} сом</p>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="bron">
                    {% if user not in announcement.clients.all and user.is_authenticated and user != announcement.author and announcement.status == 'active' and announcement.seats > 0 %}
                        <form action="{% url 'webapp:client_add' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="custId" name="announcement_id" value="{{ announcement.pk }}">
                            <label for="quantity">Кол-во:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="{{ announcement.seats }}"
                                   value="1">
                            <p class="text-center"><input type="submit" value="Бронь"
                                                          class="btn links btn-success"></p>
                        </form>
                    {% elif user in announcement.clients.all %}
                        <a href="{% url 'webapp:client_delete' announcement.pk %}" class="links">Отказ</a>
                    {% endif %}
                </div>
                {% if announcement.author == user %}
                    <a href="#" class="announce_links">Добавить фото</a>
                    <a href="{% url 'webapp:announce_update' announcement.pk %}"
                       class="announce_links">Редактировать</a>
                    <a href="{% url 'webapp:announce_delete' announcement.pk %}" class="announce_links">Удалить</a>
                {% endif %}
            </div>
            {% if user_obj != announcement.author and announcement.status == 'completed' %}
                <div class="my-5">
                    <form action="{% url 'webapp:review_create' announcement.pk %}" method="POST">
                        {% csrf_token %}
                        <h5 class="mt-5">Оставить отзыв</h5>
                        <div class="row justify-content-between mt-3">
                            <div class="review col-1.5 ml-3">
                                {% for i in '12345'|make_list %}
                                    <input type="radio" name="example" class="rating" value={{ i }}>
                                {% endfor %}
                            </div>
                            {% for field in review_form %}
                                <div class="col-9 d-flex mx-0 px-0"
                                     style="width: 100%; height:50px">{{ field|add_class:'form-control' }}</div>
                            {% endfor %}
                            <div class="col-1"><input type="submit" value="Сохранить" class="btn btn-success mx-0">
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}

        {% empty %}
            <p>Пока нет поездок</p>
        {% endfor %}
    {% endif %}
    <div class="reviews-list mt-5">
        <h4>Отзывы</h4>
        {% for announce in user_obj.announcement.all %}
            {% for review in announce.reviews.all %}
                <div class="row comment">
                    <div class="col-2">
                        {% if review.author.profile.photo %}
                            <img src="{{ review.author.profile.photo.url }}"
                                 alt="Author photo">
                        {% else %}
                            <img src="{% static 'No_person-1.jpg' %}" alt="No photo">
                        {% endif %}
                        <p>{{ review.author }}. Cоздана: {{ review.date|date:'d.m.Y' }}</p>
                        {% for i in review.grade|times %}
                            <div class="d-inline-block">
                                <i class=" fas fa-star" style="position: relative"></i>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-10 review_text">{{ review.text }}</div>
                    <p class="comment-links">
                    </p>
                </div>
            {% empty %}

                <p>Отзывов нет</p>
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('.review').rating();
        });
    </script>
{% endblock %}