{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block extra_class %} header {% endblock %}
{% block content %}
    <div class="card my-3" style="border-color: #C60054">
        <div class="row no-gutters">
            <div class="card-img col-md-2">
                {% if user_obj.profile.photo %}
                    <img src="{{ user_obj.profile.photo.url }}" class="card-img"
                         alt="Author photo">
                {% else %}
                    <img src="{% static 'No_person-1.jpg' %}" class="card-img" alt="No photo">
                {% endif %}
                <p class="mt-2 ml-3" style="color: #C60054">Профиль: {{ user_obj.username }}</p>
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <p>Имя: <b>{{ user_obj.first_name }}</b></p>
                    <p>Фамилия: {{ user_obj.last_name }}</p>
                    <p>Страна: {{ user_obj.profile.country }}</p>
                    <p>Город: {{ user_obj.profile.city }}</p>
                    <p>Почта: {{ user_obj.email }}</p>
                    <p>Телефон: {{ user_obj.profile.mobile_phone }}</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <p>Тип: {{ user_obj.profile.type }}</p>
                    <p>Уведомления: {{ user_obj.profile.notification }}</p>
                    {% if user_obj.profile.type == 'driver' %}
                        <p>Статус: {{ user_obj.profile.status }}</p>
                        <p>Модель авто: {{ user_obj.profile.car_model }}</p>
                        <p>Номер авто: {{ user_obj.profile.car_number }}</p>
                        <p>Кол-во сидений: {{ user_obj.profile.car_seats }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        {% if user_obj == request.user %}
            <a href="{% url 'accounts:user_update' user_obj.pk %}" class="user_links">Изменить</a>
            <a href="{% url 'accounts:user_delete' user_obj.pk %}" class="user_links">Удалить</a>
        {% endif %}
    </div>
    {% if user_obj == user %}
        <h4>История поездок</h4>
        {% for announcement in history %}
            <div class="card my-3">
                <div class="row no-gutters">
                    <div class="card-img col-md-2">
                        {% if announcement.author.profile.photo %}
                            <img src="{{ announcement.author.profile.photo.url }}" class="card-img"
                                 alt="Author photo">
                        {% else %}
                            <img src="{% static 'No_person-1.jpg' %}" class="card-img" alt="No photo">
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <p class="card-text">Автор: <a
                                href="{% url 'accounts:user_detail' announcement.author.pk %}">{{ announcement.author }}</a>
                        </p>
                        <p class="card-text">
                            <b>Направление</b> {{ announcement.get_place_from_display }}-{{ announcement.get_place_to_display }}
                        </p>
                        <p class="card-text">
                            <b>Время:</b> {{ announcement.departure_time|date:'d-m-y   - H:m' }}</p>
                        <p class="card-text">Описание: {{ announcement.description }}</p>
                    </div>
                    <div class="col-md-5">
                        <p class="card-text">Места: {{ announcement.seats }}</p>
                        <p class="card-text">Багаж: {{ announcement.luggage }}</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="bron">
                    {% if user not in announcement.clients.all and user.is_authenticated and user != announcement.author and announcement.status == 'active' and announcement.seats > 0 %}
                        <form action="{% url 'webapp:client_add' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="custId" name="announcement_id" value="{{ announcement.pk }}">
                            <label for="quantity">Кол-во:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="{{ announcement.seats }}" value="1" >
                            <p class="text-center"><input type="submit" value="Бронь" class="btn user_links btn-success"></p>
                        </form>
                    {% elif user in announcement.clients.all %}
                        <a href="{% url 'webapp:client_delete' announcement.pk %}" class="user_links">Отказ</a>
                    {% endif %}
                </div>
                {% if announcement.author == user %}
                    <a href="#" class="announce_links">Добавить фото</a>
                    <a href="{% url 'webapp:announce_update' announcement.pk %}" class="announce_links">Редактировать</a>
                    <a href="{% url 'webapp:announce_delete' announcement.pk %}" class="announce_links">Удалить</a>
                {% endif %}
            </div>
            {% empty %}
                <p>Пока нет поездок</p>
        {% endfor %}
    {% endif %}
    <h4>Отзывы</h4>
    <div class="reviews-list">
    {% for announce in user_obj.announcement.all %}
        {% for review in announce.reviews.all %}
            <div class="comment" >

                <p>{{ review.author }}
{#                    commented at {{ comment.created_at|date:'d.m.Y H:i:s' }}#}
                </p>
                <p>{{ review.grade }}</p>
                <div class="pre">{{ review.text }}</div>
                <p class="comment-links">
{#                    <a href="{% url 'webapp:comment_update' comment.pk %}">Edit</a>#}
{#                    <a href="{% url 'webapp:comment_delete' comment.pk %}">Delete</a>#}
                </p>
            </div>
        {% empty %}
            <p>Отзывов нет</p>
        {% endfor %}
    {% endfor %}
    </div>
{% endblock %}