{% extends "base.html" %}
{% block title %}Удалить {{ title }}{% endblock %}
{% block extra_class %} header{% endblock %}
{% block content %}
    <h3>Вы уверены что хотите удалить {{ title }} :<br>"{{ object.direction }}"?</h3>
    <form method="POST"  class="text-center">
        {% csrf_token %}
        <div class="confirm d-flex justify-content-center">
            <p><input type="submit" value="Да" class="btn btn-danger mt-5"></p>
            <a id="cancelDel" href="{% url "webapp:announce_detail" announcements.pk %}" class="btn btn-dark ml-3">Нет</a>
        </div>
    </form>
{% endblock %}
