{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_class %}main-header{% endblock %}
{% block additional %}
    <div class="additional hidden"></div>{% endblock %}
{% block car %}
    <div class="rightconcave hidden"></div>
    <div class="hidden"><img class="car" src="{% static 'Car-Image.png' %}" alt=""></div>
    <div class="col-lg-12 col-md-6 col-1 hidden"><p class="credo">В добрый путь ...</p></div>
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-2 hidden mt-5">
            <h5 class="text-center" style="color: #559988">Календарь</h5>
            <table id="calendar2">
                <thead>
                <tr>
                    <td>‹
                    <td colspan="5">
                    <td>›
                <tr>
                    <td>Пн
                    <td>Вт
                    <td>Ср
                    <td>Чт
                    <td>Пт
                    <td>Сб
                    <td>Вс
                <tbody>
            </table>
            <a href="http://www.inform.kg/" class="hidden" target="_blank"><img
                    src="http://www.inform.kg/informers/currency6.php"
                    width="100%" height="150" border="0"
                    alt="Курсы валют Кыргызстана по отношению к сому"
                    title="Курсы валют Кыргызстана по отношению к сому"
                    style="margin-top: 30px"></a>
        </div>
        <div class="col-10 justify-content-center">
            <div class="row justify-content-lg-start justify-content-center">
                <a href="{% url 'webapp:index' %}?region={{ regions.all }}" class="btn region mx-3 mt-0">Все</a>
                <button class="btn region mx-3 mt-0" type="button" data-toggle="collapse" data-target="#region"
                        aria-controls="region" aria-expanded="false" aria-label="Toggle navigation">
                    <span>Фильтр</span>
                </button>
            </div>
            <div class="collapse row justify-content-center" id="region">
                {% for region in regions %}
                    <a class="col-5 col-md-3 col-lg-1 btn region mx-2"
                       href="{% url 'webapp:index' %}?region={{ region.0 }}">{{ region.1 }}</a>
                {% endfor %}
            </div>
            {% for announcement in announcements %}
                <div class="card my-2">
                    <div class="row no-gutters">
                        <div class="card-img col-md-2" data-toggle="tooltip" data-placement="top"
                             title='Профиль - {{ announcement.author }}'>
                            <a href="{% url 'accounts:user_detail' announcement.author.pk %}">
                                {% if announcement.author.profile.photo %}
                                    <img src="{{ announcement.author.profile.photo.url }}" class="card-img"
                                         alt="Author photo">
                                {% else %}
                                    <img src="{% static 'No_person-1.jpg' %}" class="card-img" alt="No photo">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-6" data-toggle="tooltip" data-placement="top"
                             title='Подробнее об объявлении'>
                            <a href="{% url 'webapp:announce_detail' announcement.pk %}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ announcement.author.first_name }}</h5>
                                    <p class="card-text">
                                        <b>Направление</b> {{ announcement.get_place_from_display }}-{{ announcement.get_place_to_display }}
                                    </p>
                                    {% if announcement.description %}<p class="card-text">Описание: {{ announcement.description }}</p>{% endif %}
                                    <p class="card-text">
                                        <b>Время:</b> {{ announcement.departure_time|date:'d-m-y   - H:m' }}</p>
                                    <p class="card-text"><b>Мест:</b> {{ announcement.seats }}{% if announcement.luggage %}<b class="ml-3">Багаж:</b>{{ announcement.luggage }}{% endif %}</p>
                                    {% if announcement.price %}
                                        <p class="card-text">{{ announcement.price }} сом</p>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body connect-block">
                                <p class="card-text"></p>
                                <p class="card-text"></p>
                                <div class="row connect">
                                    <div class="bron col-8">
                                        {% if user not in announcement.clients.all and user.is_authenticated and user != announcement.author and announcement.status == 'active' and announcement.seats > 0 %}
                                            <form action="{% url 'webapp:client_add' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" id="custId" name="announcement_id"
                                                       value="{{ announcement.pk }}">
                                                <label for="quantity" style="font-size: 12px">Кол-во:</label>
                                                <input type="number" id="quantity" name="quantity" min="1"
                                                       max="{{ announcement.seats }}" value="1">
                                                <p class="d-inline-block"><input type="submit" value="Бронь"
                                                                              class="btn links btn-success"></p>
                                            </form>
                                        {% elif user in announcement.clients.all %}
                                            <a href="{% url 'webapp:client_delete' announcement.pk %}"
                                               class="links">Отказ</a>
                                        {% endif %}
                                    </div>
                                    <div class="phone col-4">
                                        <span><i class="fas fa-phone"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="{% static "js/calendar.js" %}"></script>
{% endblock %}