body {
    font-family: 'Raleway', sans-serif;
}
.container {
    max-width: 100%;
    width: 95%;
}
h1, h4 {
    text-align: center;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: #555555;
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none;
    color:#555555;
}
.main-header {
    background-color: #559988;
    position: relative;
    z-index: 0;
}
.main-header .navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.additional{
    height: 190px;
    background-color: #559988;
}
.header {
    background-color: #559988;
    overflow: hidden;
}
.header .navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.menu {
    font-size: 14px;
    margin: 0;
    color: white;
}
.menu a {
    display: inline-flex;
}
.navbar-my {
    display: block;
}
.rightconcave {
    position: absolute;
    background: white;
    width: 100%;
    height: 20vh;
    bottom: 0;
    left: 0;
    border-top-left-radius: 100%;
}
.car {
    margin: -1% 55%;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 45vw;
    overflow: hidden;
}
.credo {
    margin: 3% 10%;
    position: absolute;
    z-index: 1;
    font-family: "Georgia", sans-serif;
    font-size: 30px;
    color: #944018;
    width: 20vw;
    height: 5vh;
}
.region {
    margin-top: 40px;
    background-color:#1C6351;
    color: white;
    display: inline-block;
    border-radius: 20px;
    width: 70px;
    font-size: 12px;
}
.card {
    background-color: #eeeeee;
    border-radius: 15px;
    margin: 0;
    height: auto;
}
.user_card{
    background-color: #EEB4BE;
}
.card-img {
    border-radius: 15px;
    height: 200px;
}
.card-text {
    font-style: italic;
    margin: 0;
}
.card-body p {
    margin: 0;
}
/*.connect-block{*/
    /*position: relative;*/
    /*z-index: 0;*/
/*}*/
/*.connect{*/
    /*display: inline-flex;*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*!*margin-bottom: 0;*!*/
/*}*/

.links {
    background-color:#1C6351;
    color: white;
    display: inline-block;
    border-radius: 20px;
    width: 70px;
    text-align: center;
    margin-left: 15px;
    font-size: 12px;
}
.announce_links {
    background-color: #1C6351;
    color: white;
    display: inline-block;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    margin-left: 15px;
    font-size: 12px;
}
.user_links{
    background-color:#8F283A;
    color: white;
    display: inline-block;
    border-radius: 20px;
    width: 120px;
    text-align: center;
    margin-left: 15px;
    font-size: 12px;
}
.comment img{
    height: 40px;
    border-radius: 50%;
}
.comment p{
    font-size: 10px;
}
.review_text{
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #F5DEB9;
}
.fa-star{
    color: rgb(255 138 0);
}

